/***** COLOR_TABLE *****/	
/* Type : link */
*.myblock_link { background-color : #CCCCCC; }
*.myblock_inlink { background-color : #CCCCCC; }
*.myblock_outlink { background-color : #CCCCCC; }
*.myblock_imglink { background-color : #CCCCCC; }

/* Type : text */
*.myblock_maintext { background-color : #CCCCCC; }
*.myblock_unknown_text { background-color : #FF3333; }

/* Type : other */
*.myblock_img { background-color : #CCCCCC; }
*.myblock_form { background-color : #CCCCCC; }
*.myblock_footer { background-color : #CCCCCC; }
*.myblock_copyright { background-color : PINK; }
/***** END_OF_COLOR ****/
